<form #f="ngForm" (ngSubmit)="submit(f)">
<div ngModelGroup="contact">
  <div class="form-group">
 <label for="firstName">FirstName</label>
 <input
    required
    minlength="4"
    maxlength="12"
    pattern="[a-zA-Z]+"
    ngModel name="firstname"
    #firstName="ngModel"
    class="form-control"
    id="firstName"
    type="text" >
  <div class="alert alert-danger"
           *ngIf="firstName.touched && !firstName.valid">
      <div *ngIf="firstName.errors?.['required']">
      Ce champ est obligatoire </div>
      <div *ngIf="firstName.errors?.['minlength']">
      Ce champ doit avoir moins de {{firstName.errors?.['minlength'].actualLength}}/{{firstName.errors?.['minlength'].requiredLength}} caractères</div>
      <div *ngIf="firstName.errors?.['pattern']">
      FirstName doit être alphabétique</div>
 </div>
</div>

  <div class="form-group">
   <label for="lastName">LastName</label>
   <input
   required
   minlength="4"
   maxlength="12"
   pattern="[a-zA-Z]+"
   ngModel
   name="lastname"
   #lastName="ngModel"
   class="form-control"
   id="firstName"
   type="text" >
     <div class="alert alert-danger"
           *ngIf="lastName.touched && !lastName.valid">
      <div *ngIf="firstName.errors?.['required']">
      Ce champ est obligatoire </div>
      <div *ngIf="lastName.errors?.['minlength']">
      Ce champ doit avoir moins de {{lastName.errors?.['minlength'].actualLength}}/{{lastName.errors?.['minlength'].requiredLength}} caractères</div>
      <div *ngIf="lastName.errors?.['pattern']">
        lastName doit être alphabétique</div>
 </div>
  </div>

  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
    required
    ngModel
    name="comment"
    #comment="ngModel"
    class="form-control"
    id="comment"
    type="text" >
   </textarea>
   <div class="alert alert-danger"
           *ngIf="lastName.touched && !lastName.valid">
      <div *ngIf="firstName.errors?.['required']">
      Ce champ est obligatoire </div>
  </div>
  </div>
</div>
  <div class="form-group">
    <label for="ContactMethod">Method de contact </label>
    <select multiple id="ContactMethod" ngModel name="ContactMethod" >
        <option value=""></option>
        <option *ngFor="let Method of ContactMethods" [ngValue]="Method">{{Method.name}}</option>
    </select>
  </div>
  <div class="checkbox">
    <label>
        <input type="checkbox" ngModel name="Suscribe">S'abonne
    </label>
</div>

 <div class="radio" *ngFor="let method of ContactMethods">
    <label for="">
        <input type="radio" ngModel name="ContactMethod2" [value]="method.id">
        {{method.name}}
    </label>
 </div>

 <div class="form-group">

 <button class="btn btn-primary" [disabled]="!f.valid">Enregister</button>
 </div>
</form>
<p>{{f.value | json}}</p>