
  <div *ngFor="let follower of followers" class="media">
     <div></div>

     <div></div>
  </div>
  <div *ngFor="let follower of followers" class="media">
    <div class="media-left">
    <a  href="#">
      	<img  class="avatar media-object" src="{{follower.avatar_url}}" alt="">
    </a>
    </div>
    <div class="media-body">
        <h5 class="media-heading">{{follower.login}}</h5>
        <a [routerLink]="['/followers',follower.id,follower.login]"
           [queryParams]="{page:1,type:follower.type,var:'val'}">{{follower.html_url}}</a>
    </div>
</div>